<div>
    <app-navbar></app-navbar>
</div>
<div>
    <app-cart-summery></app-cart-summery>
</div>
<div class="d-flex flex-row m-3">
    @for (product of products(); track $index) {
    <div class="card m-3">
        <img src="{{ product.imagePath }}" class="card-img-top product-icon" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.price }}</p>
            <button (click)="onAddToCart(product)" class="btn btn-success">Add to cart</button>
        </div>
    </div>
    }
</div>